/* Section Aboutme */
.aboutme{
    grid-area: ren;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.aboutme h6{
    text-align: end;
}
.aboutme .p2{
    margin-top: 2vh;
}
.aboutme a:hover{
    text-decoration: underline;
    color: rgb(93, 0, 180);
}
.containerAbout{
    padding: 2vw;
    box-shadow: 10px 10px 10px rgb(2, 10, 31);
    font-size: larger !important;
    text-align: center;
}
.sectionPrime{
    background-color: #9DACB5;
}
@media (min-width: 767px) {
    .aboutme{
        position: relative;
        width: 70vw;
        top: 0;
        left: 20vw;
    }
    .aboutme .p1, .p2{
        margin-bottom: 2vw;
        font-size: x-large;
    }
}