/* Section Aboutme */
.aboutme{
    grid-area: ren;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}
.aboutme h6{
    text-align: end;
}
.aboutme .p2{
    margin-top: 2vh;
}
.aboutme a:hover{
    text-decoration: underline;
    color: rgb(93, 0, 180);
}
.containerAbout{
    padding: 2vw;
    box-shadow: 10px 10px 10px rgb(2, 10, 31);
    font-size: 20px;
    text-align: center;
}
.sectionPrime{
    background-color: #9DACB5;
}
@media (min-width: 767px) {
    .aboutme{
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 4vw;
        height: 95vh;
    }
    .aboutme .p1, .p2{
        margin-bottom: 2vw;
        font-size: 1.2em;
    }
}