a:hover{
    text-decoration: underline;
    color: rgb(93, 0, 180);
}
.knowledges{
    grid-area: ren;
    padding-left: 5vh;
    padding-right: 5vh;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.knowledges h3{
    width: 40%;
    color: white;
    padding-left: 1vw;
    padding-right: 10px;
    padding-bottom: 0.5vw;
    text-align: start;
}
.frames{
    padding-top: 1vh;
}
.knowledges .languages{
    margin-left: 6vw;
    margin-bottom: 2vh;
    align-items: center;
    color: rgb(84, 84, 84);
}
.languages{
    display: flex;
    column-gap: 1vh;
}
.languages h5{
    display: flex;
    align-items: center;
    column-gap: 1vw;
    height: 5vh;
    margin: 0;
    padding: 1.5vw;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.knowledges p{
    font-size: 14px;
    font-weight: lighter;
}
.knowledges a:hover{
    text-decoration: underline;
}
.knowledges h5{
    cursor: pointer;
}
@media (min-width: 767px) {
    .knowledges{
        position: relative;
        width: 60vw;
        left: 20vw;
    }

}