.student{
    grid-area: ren;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 5vh;
    margin: 8vh 0px 10vh 0px;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    left: 0;
}
.student img{
    margin: 10px !important;
}
.student a{
    font-size: 22px;
}
.student h3{
    margin: 0;
    padding: 0;
}
.student .iBtn{
    font-size: 22px;
}
.student .collapse .section-info{
    margin-bottom: 2vw;
}
.student .collapse a{
    padding: 0;
}
.student .collapse a:hover{
    text-decoration: underline;
}
.student .btn{
    border: 0;
    background-color: rgb(2, 10, 31);
    /* border: 1px solid rgb(93, 0, 180); */
}
/* #others a:hover{
    color: rgb(93, 0, 180) !important;
} */
.student .btn:hover{
    /* color: rgb(93, 0, 180); */
    /* border: 0; */
    background-color: rgba(187, 187, 187, 0.745);
}
@media (min-width: 767px){
    .student{
        width: 65vw;
        height: 95vh;
        padding: 2vh;
        margin: 2vh 2vh 2vh 4vh;
        position: relative;
        left: 20vw;
        top: 0;
    }
    .student .card_Other{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}