.projects{
    grid-area: ren;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70vw;
    top: 0;
    left: 20vw;
}
.card_projects{
    display: flex;
    width: 80%;
    padding: 3vw; 
    gap: 25px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-bottom: 40px;
    justify-content: space-between;
}
.card_projects img{
    position: relative;
    z-index: 0;
}
.box_projects{
    display: flex;
    width: 35%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px){
    .projects{
        margin-left: 0;
        padding-top: 3vh;
        left: 0;
        align-content: center;
        width: 100%;
    }
    .box_projects {
        width: 100%;
    }
    .card_projects{
        width: 90%;
    }
    .card_projects img{
        width: 90%;
    }

}