.projects{
    grid-area: ren;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin-top: 3vh;
}
.card-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: .5em;
    background-color: rgba(200, 199, 199, 0.857);
    height: 60vh;
    width: 90vw;
    cursor: pointer;
    transition: 1.5s ease-out;
    margin-bottom: 4vh;
}
.card-projects:hover{
    box-shadow: 5px 5px 5px 5px rgba(2, 10, 31, 0.59);
    transition: all 1s;
}
.card-projects .foo-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    padding: 1vw;
}
.card-projects h3, p{
    margin: 0;
}
.card-projects p{
    text-align: center;
}
.card-projects ul{
    display: flex;
}
.card-projects a{
    display: flex;
    align-items: center;
    padding: 0.5vh 0;
    align-self: end;
    margin-right: 3vw;
    font-size: 1em;
    gap: 1vw;
}
.card-projects a:hover{
    color: rgb(93, 0, 180);
    text-decoration: underline;
}
.card-projects:hover{
    background-color: rgba(173, 173, 173, 0.786);
}
@media (min-width: 767px){
    .card-projects{
        width: 75%;
        height: 70vh;
    }
    .card-projects:hover{
        box-shadow: 5px 5px 5px 5px rgba(2, 10, 31, 0.59);
        width: 70%;
        transition: all 1s;
    }
}