#root{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'sec sec sec sec sec sec'
    'sec sec sec sec sec sec'
    'ren ren ren ren ren ren'
    'na2 na2 na2 na2 na2 na2';
    width: 100%;
}
.ovo-regular {
    font-family: "Ovo", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: monospace;
    background-color: #020a1f;
    color: white;
}
.active{
    border-top: 3px solid orangered;  
}
/* Global */
a{
    color: lightskyblue;
    font-weight: bold;
}
a:link{
    padding: 1vw;
    text-decoration: none;
    border-radius: .5em;
}
/* Navbar */
nav{
    grid-area: nav;
    display: flex;
    position: fixed;
    width: 100vw;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 8vh;
    font-size: 22px;
    background-color: #020A1F;
}
nav .navBar{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 4.5vh;
    padding-left: 2vw;
}
.navBar .ulViewXL{
    visibility: hidden;
}
.navBar a{
    color: white !important;
}

nav ul{
    position: absolute;
    right: 1vw;
    top: 5vh;
    background-color: rgba(187, 187, 187, 0.915);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1vw;
    text-align: end;
    border-radius: .5em;
}
/* nav ul li a:hover{
    background-color: rgba(236, 236, 236, 0.632);
    color:  rgb(93, 0, 180) !important; 
} */
nav .collapse{
    transition: all 1s ease;
    display: block;
    width: auto;
    position: absolute;
    right: 0vw;
}
/* SectionPrime */
.sectionPrime{
    display: none;
}
/* MODAL ABOUTME */
.modalAboutme{
    grid-area: sec;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: start;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #020A1F;
    border: 0;
    padding: 1.5vw;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.modalAboutme.show {
    display: flex;
    opacity: 1;
}
.modalAboutme-content {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}
.modalAboutme h1{
    text-align: center;
    margin: 0 0 2vh 0;
    cursor: pointer;
    font-size: 28px;
    gap: 1vw;
    letter-spacing: 2px;
}
.modalAboutme .imgMe2{
    border-radius: 50%;
    cursor: pointer;
}
.modalAboutme .liked-img2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}
.likeds2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    gap: 1vw;
}

.likeds2:hover{
    background-color: white;
}
.iconUbi{
    font-size: 1.4em;
    color: rgb(0, 123, 255);
}
/* SECTION ABOUT ME */
/* .navLinks a:hover{
    background-color: rgba(255, 255, 255, 0) !important;
} */
/* Barra navegaciòn 2 */
.navegationTwo{
    grid-area: na2;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: #131824;
}
.navegationTwo ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
}
.navegationTwo ul li{
    text-align: center;
    text-wrap: nowrap;
    border-radius: .5em;
    list-style: none;
    white-space: nowrap;
    font-size: 14px;
}
.navegationTwo a{
    color: rgb(255, 255, 255) !important;
    font-weight: lighter !important;
}
@media (min-width: 767px) {
    #root{
        grid-template-areas: 
        'sec sec nav nav nav nav'
        'sec sec ren ren ren ren'
        'sec sec ren ren ren ren'
        'sec sec ren ren ren ren'
        'sec sec ren ren ren ren';
    }
    nav{
        height: 6vh;
        margin-left: 350px;
    }
    nav .navBar{
        height: 6vh;
        padding: 1vw;
        justify-content: end;
    }
    .navBar{
        justify-content: space-between;
    }
    .ulViewXL{
        visibility: visible !important;
        display: flex;
        flex-direction: row;
        position: sticky;
        padding: 0;
        align-items: center;
        row-gap: 1vw;
        margin: 0;
        background-color:rgba(240, 255, 255, 0);
    }
    .ulViewXL li a{
        padding: 0.3vw;
        display: flex;
        align-items: center;
        gap: 0.3vw;
    }
    .navBar .iconBurguer{
        visibility: hidden;
    }
    .navegationTwo{
        visibility: hidden;
    }
    /* .navegationTwo li a:hover{
        background-color: #020A1F;
    } */
    .sectionPrime{
        grid-area: sec;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 350px;
        height: 100vh;
        background-color: #9DACB5;
        border: 0;
        padding: 1.5vw;
    }
    .sectionPrime h3{
        display: flex;
        visibility: visible;
        align-items: center;
        margin: 0;
        cursor: pointer;
        gap: 1vw;
        letter-spacing: 2px;
    }
    .sectionPrime .imgMe{
        border-radius: 50%;
        cursor: pointer;
    }
    .sectionPrime .liked-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }
    .sectionPrime h3{
        visibility: hidden;
    }
    .sectionPrime .svgRocket{
        font-size: 18px;
    }
    .sectionPrime.sun{
        color: rgb(255, 255, 255);
    }
    /* .sectionPrime .sun:hover{
        color:  rgb(93, 0, 180) !important;
    } */
    /* .sectionPrime .moon{
        color: rgb(2, 10, 31);
    }
    /* .sectionPrime .moon:hover{
        color:  rgb(93, 0, 180) !important;
    } */
    .aLinks:hover{
        color: rgb(2, 10, 31);
    }
    .likeds{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #020A1F;
        gap: 1vw;
    }
    
    .likeds:hover{
        background-color: #020A1F;
    }
    
    .sectionPrime h2:hover{
        color: red;
    
    } 
}
@media (max-width: 767px){
    .card_projects{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    nav {
        background-color: #131824;
    }
};